<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Notas</ion-title>
    </ion-toolbar>
    <style>
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        th,
        td,
        tr {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            height: 100%
        }
    </style>
</ion-header>



<ion-content>

    <div>

    </div>
    <table>
        <tr>
            <th>MATERIA</th>
            <th>NOTA</th>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
    </table>

</ion-content>