<app-header [title]="'Notificaciones'"></app-header>

<ion-content>

  <ion-card *ngIf="rol != 'ALUMNO'">


    <form #form="ngForm">

      <ion-item color="dark">
        <ion-text>
          <h6>Seleccione un Periodo Lectivo</h6>
        </ion-text>
      </ion-item>

      <ion-select [(ngModel)]="obj.periodoCurso" required name="cmbPeriodo" (ionChange)="chngPeriodo()"
        placeholder="Seleccione un Periodo Lectivo">
        <ion-select-option [value]="periodo" *ngFor="let periodo of periodos">
          {{periodo.nombre}}
        </ion-select-option>
      </ion-select>
      <!--COMBO BOX PERIODO-->


      <ion-item color="dark">
        <ion-text>
          <h6>Seleccione un Curso</h6>
        </ion-text>
      </ion-item>
      <ion-select [(ngModel)]="obj.cursoReceptor" required name="cmbCurso" placeholder="Seleccione un Curo">
        <ion-select-option [value]="curso" *ngFor="let curso of cursos">
          {{curso}}
        </ion-select-option>
      </ion-select>
      <!--COMBO BOX CURSOS-->


      <ion-item>
        <ion-label position="floating">Titulo:<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required placeholder="Ingrese el titulo de su mensaje" name="tituloTxt" [(ngModel)]="obj.titulo">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mensaje: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea required placeholder="Ingrese su mensaje" rows="6" cols="20" name="mensajeTxt"
          [(ngModel)]="obj.mensaje">
        </ion-textarea>
      </ion-item>

      <ion-button expand="full" (click)="enviar()" [disabled]="form.invalid">
        Enviar
      </ion-button>

    </form>
  </ion-card>

  <ion-list>

    <ion-label>
      <ion-label *ngIf="rol == 'ALUMNO'">Notificaciones Recibias</ion-label>
      <ion-label *ngIf="rol != 'ALUMNO'">Notificaciones Enviadas</ion-label>
    </ion-label>

    <ion-card *ngFor="let notificacion of notificaciones">
      <ion-card-header>

        <ion-label *ngIf="rol == 'ALUMNO'">Emisor: {{notificacion.emisor.primerNombre}}
          {{notificacion.emisor.primerApellido}}</ion-label>
      </ion-card-header>


      <ion-item>
        <ion-text color="primary">
          <h1>Titulo: {{notificacion.notificacion.titulo}}</h1>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-text color="primary">
          Mensaje:
          <p>{{notificacion.notificacion.mensaje}}</p>
        </ion-text>
      </ion-item>
      <ion-button expand="block" *ngIf="rol != 'ALUMNO'" color="danger" (click)="eliminar(notificacion)">
        Eliminar
      </ion-button>
    </ion-card>
  </ion-list>


</ion-content>