<app-header [title]="'Notificaciones'"></app-header>

<ion-content>

  <ion-card *ngIf="rol != 'ALUMNO'">


    <form #form="ngForm">

      <ion-item color="dark">
        <ion-text>
          <h6>Seleccione un Periodo Lectivo</h6>
        </ion-text>
      </ion-item>

      <ion-select [(ngModel)]="obj.periodoCurso" required name="cmbPeriodo" (ionChange)="chngPeriodo()"
        placeholder="Seleccione un Periodo Lectivo">
        <ion-select-option [value]="periodo" *ngFor="let periodo of periodos">
          {{periodo.nombre}}
        </ion-select-option>
      </ion-select>
      <!--COMBO BOX PERIODO-->


      <ion-item color="dark">
        <ion-text>
          <h6>Seleccione un Curso</h6>
        </ion-text>
      </ion-item>
      <ion-select [(ngModel)]="obj.cursoReceptor" required name="cmbCurso" placeholder="Seleccione un Curo">
        <ion-select-option [value]="curso" *ngFor="let curso of cursos">
          {{curso}}
        </ion-select-option>
      </ion-select>
      <!--COMBO BOX CURSOS-->


      <ion-item>
        <ion-label position="floating">Titulo:<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required placeholder="Ingrese el titulo de su mensaje" name="tituloTxt" [(ngModel)]="obj.titulo">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mensaje: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea required placeholder="Ingrese su mensaje" rows="6" cols="20" name="mensajeTxt"
          [(ngModel)]="obj.mensaje">
        </ion-textarea>
      </ion-item>

      <ion-button expand="full" (click)="enviar()" [disabled]="form.invalid">
        Enviar
      </ion-button>

    </form>
  </ion-card>

  <ion-list *ngIf="rol == 'ALUMNO'">

    <ion-list-header>
      <ion-label>Notificaciones Recibias</ion-label>
      <ion-item *ngFor="let notificacion of notificaciones">
        <ion-label>{{notificacion.titulo}}</ion-label>
        <ion-text color="primary">
          <p>notificacion.mensaje</p>
        </ion-text>
      </ion-item>
    </ion-list-header>

  </ion-list>


</ion-content>