<app-header [title]="'HORARIOS'"></app-header>

<ion-content>

    <ion-list>
        <ion-list-header class="ion-text-center" color="dark">
            <h6>
                Seleccione un Periodo Lectivo
            </h6>
        </ion-list-header>



        <div>
            <ion-select [(ngModel)]="periodo" (ionChange)="select()">
                <ion-select-option [value]="periodo" *ngFor="let periodo of periodos; let i = index;">
                    {{periodo.nombre}}
                </ion-select-option>
            </ion-select>
        </div>

        <!--COMBO BOX-->

    </ion-list>



    <app-card-horario [title]="'Lunes'" [horario]="horarioLunes"></app-card-horario>
    <app-card-horario [title]="'Martes'" [horario]="horarioMartes"></app-card-horario>
    <app-card-horario [title]="'Miercoles'" [horario]="horarioMiercoles"></app-card-horario>
    <app-card-horario [title]="'Jueves'" [horario]="horarioJueves"></app-card-horario>
    <app-card-horario [title]="'Viernes'" [horario]="horarioViernes"></app-card-horario>






</ion-content>