<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Regresar"
        defaultHref="materias/{{params.cedula}}/{{params.idPeriodo}}/{{params.cursoNombre}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card button *ngFor="let almn of almnsCurso;">
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="data:image/jpeg;base64,{{almn.alumno.persona.Foto}}" />
        </ion-avatar>
        <ion-label>
          <h4>{{almn.alumno.persona.primerApellido}}</h4>
        </ion-label>
        <ion-label>
          <h4>{{almn.alumno.persona.segundoApellido}}</h4>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h4>{{almn.alumno.persona.primerNombre}}</h4>
        </ion-label>
        <ion-label>
          <h4>{{almn.alumno.persona.segundoNombre}}</h4>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>


</ion-content>