<app-header title="Informacion" defaultBack="login"></app-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title color="primary">Instituto Superior Tecnológico del Azuay</ion-card-title>
            <ion-img src="/assets/img/ista-logo.png"></ion-img>

        </ion-card-header>


    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-label>Información de la aplicación</ion-label>
        </ion-item>
        <ion-card-content>
            Bienvenidos a nuestra aplicación "Student Notes", el objetivo del presente proyecto es crear una aplicación
            para dispositivos móviles que se encargue de mostrar las notas de cada estudiante pertenecientes a cualquier
            carrera del Instituto Superior Tecnológico
            del Azuay (ISTA), las cuales estarán disponibles para docentes y alumnos. <br> Para llevar a cabo este
            objetivo se utilizará los datos ingresados por los docentes en la base de datos del sistema "Phoenix" creado
            especialmente para
            los docentes de la institución.
        </ion-card-content>
    </ion-card>

    <ion-card>

        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="checkmark"></ion-icon>
            <ion-label>Objetivo General</ion-label>
        </ion-item>

        <ion-card-content>
            El objetivo general de este proyecto es el desarrollo de una aplicación para dispositivos móviles el cual
            permitirá de forma más cómoda y rápida el acceso a la información de las notas de los estudiantes.
            Facilitando asi, cualquier inconveniente o consulta
            que desee realizar el estudiante.
        </ion-card-content>

    </ion-card>


    <ion-card>

        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="checkmark"></ion-icon>
            <ion-label>Objetivos Específico</ion-label>
        </ion-item>

        <ion-card-content>
            - Desarrollar una aplicación móvil que permita consultar las notas meidante un previo registro del usuario.
            <br> - Mostrar información de las notas del ciclo mediante la información guardada en la base de datos del
            sistema. <br>
        </ion-card-content>

    </ion-card>
    <ion-card>
        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="star"></ion-icon>
            <ion-label>Creadores</ion-label>
        </ion-item>

        <ion-card-content class="ion-align-items-center">
            - Diego Condo <br> - Yanina Flores <br> - César Pesantez <br> - Marcelo Vidal <br>
        </ion-card-content>
    </ion-card>
</ion-content>