<ion-header>
    <ion-toolbar>
        <ion-title>card</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title color="primary">Instituto Superior Tecnológico del Azuay</ion-card-title>
            <ion-img src="/assets/img/ista-logo.png"></ion-img>
            <ion-card-subtitle>Información de la aplicación</ion-card-subtitle>

        </ion-card-header>

        <ion-card-content>
            Bienvenidos a nuestra aplicación "Student Notes", el objetivo del presente proyecto es crear una aplicación para dispositivos móviles que se encargue de mostrar las notas de cada estudiantes pertenecientes a cualquier carrera del Instituto Superior Tecnológico
            del Azuay (ISTA), las cuales estarán disponibles para docentes y alumnos. <br> Para llevar a cabo este objetivo se utilizará los datos ingresados por los docentes en la base de datos del sistema.
        </ion-card-content>
    </ion-card>

    <ion-card>

        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="checkmark"></ion-icon>
            <ion-label>Objetivo Principal</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quis nisi nesciunt obcaecati sunt perspiciatis ullam recusandae ducimus. Reiciendis dolores quibusdam nostrum repellat culpa doloremque praesentium ad beatae quod laboriosam.
        </ion-card-content>

    </ion-card>

</ion-content>