<ion-header>
    <!--<ion-toolbar color="primary">
        <ion-title>Instituto Superior Tecnológico del Azuay</ion-title>
    </ion-toolbar>-->
    <style>
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        th,
        td,
        tr {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            height: 100%
        }
    </style>
</ion-header>



<ion-content>
    <ion-card>
        <ion-card-header color="primary">
            <img src="" alt="">
            <ion-card-title class="ion-text-center">
                <h2>Instituto Superior Tecnológico del Azuay</h2>
            </ion-card-title>


        </ion-card-header>

    </ion-card>


    <div>

    </div>
    <ion-img src="data:image/png;base64,{{usuario.persona.Foto}}"></ion-img>
    <table>
        <tr>
            <th>CURSOS</th>
            <th>NUMERO DE MATERIAS</th>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
    </table>

</ion-content>