<ion-header>
    <ion-toolbar color="primary">


        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>


    </ion-toolbar>

</ion-header>



<ion-content padding>
    <form action="" (ngSubmit)=" onSubmitTemplate()">
        <ion-list>

            <ion-item>
                <ion-label position="floating">Periodos Lectivos:</ion-label>
                <ion-select placeholder="{{periodoNombre}}" [(ngModel)]="periodoNombre" name="prdLectivo"
                    (ngModelChange)="cmbPeriodo()">
                    <ion-select-option *ngFor="let periodo of periodos;">
                        {{periodo.nombre}}
                    </ion-select-option>
                </ion-select>

            </ion-item>
            <!--CMB PERIODOS LECTIVOS-->


            <ion-item>
                <ion-label position="floating">Cursos:</ion-label>
                <ion-select placeholder="{{cursoNombre}}" [(ngModel)]="cursoNombre" name="cursoDocentes"
                    (ngModelChange)="cmbCursos()">
                    <ion-select-option *ngFor="let curso of cursos;">
                        {{curso.nombre}}
                    </ion-select-option>
                </ion-select>

            </ion-item>
            <!--CMB CURSOS-->


            <ion-item>
                <ion-label position="floating">Cursos:</ion-label>
                <ion-select placeholder="{{materiaNombre}}" [(ngModel)]="materiaNombre" name="materiasDocente"
                    (ngModelChange)="cmbMaterias()">
                    <ion-select-option *ngFor="let materia of materias;">
                        {{materia.nombre}}
                    </ion-select-option>
                </ion-select>

            </ion-item>
            <!--CMB MATERIAS-->




            <ion-button expand="block" type="submit">Ingresar</ion-button>

        </ion-list>
    </form>

</ion-content>