<ion-app>

    <ion-split-pane>
        <ng-template [ngIf]="showMenu">
            <ion-menu>
                <ion-header>
                    <ion-toolbar color="primary">
                        <ion-title>Menu</ion-title>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <ion-list>
                        <ion-item routerLink="/home">Inicio</ion-item>
                        <ion-item routerLink="/horario">Horario</ion-item>
                        <ion-item routerLink="/notas">Notas</ion-item>
                        <ion-item routerLink="/notificaciones">Notificaciones</ion-item>
                    </ion-list>
                    <ion-footer class="set-in-bottom">
                        <ion-button (click)="cerrarSesion()" expand="full">
                            Cerrar Sesion
                        </ion-button>
                    </ion-footer>

                </ion-content>
            </ion-menu>

        </ng-template>


        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>