<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="periodos/{{params.cedula}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-list-header>
      <ion-label>
        <h1 text-center>Cursos</h1>
      </ion-label>
    </ion-list-header>


    <ion-item button *ngFor="let curso of cursos;"
      routerLink="/materias/{{params.cedula}}/{{params.idPeriodo}}/{{curso.nombre}}">
      <ion-label>{{curso.nombre}}</ion-label>
    </ion-item>
    <!--CURSOS-->



  </ion-list>


</ion-content>