<ion-header>
  <ion-toolbar>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-router-outlet></ion-router-outlet>


  <ion-tabs>

    <ion-tab-bar slot="bottom" selectedTab="page2">

      <ion-tab-button tab="page1">
        <ion-icon name="flash"></ion-icon>
        <ion-label>Page 1</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="page2">
        <ion-icon name="home"></ion-icon>
        <ion-label>Page 2</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>